<!DOCTYPE html>
<html>

<body>
  <div>
    <form action="" , method="post">
      {% csrf_token %}
      <input type="submit" name="" value="st1art game">
  </div>
  <script>


    const ws = new WebSocket(
      "ws://"
      + window.location.host
      + "/ws/asgi/"
      + "{{lobby_id}}/"
    );

    ws.onopen = (event) => {
      console.log('connected');
      ws.send(JSON.stringify({"direction": "right"}));

    };

    ws.onclose = (e) => {
      console.error('socket closed ?DS?A?D');
    };


    ws.onmessage = (text_data) => {
      console.log(text_data.data);
    }


  </script>

</body>

</html>
